#visualizer {
  width: 300px;
  height: 100px;
  border: 1px solid #fff;
  display: inline-block;
  margin: 8px 0;
}

#url {
  width: 500px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
